* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --background: #F7F7FB;
    --white: #FFFFFF;
    --title: #170F49;
    --text: #6F6C90;
    --brand: #4A3AFF;
}

:focus {
    outline: 0;
}

body {
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-weight: 400;
    font-size: 1rem;
    color: var(--text);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
}